* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #308834;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#action-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button{
    border-radius: 7px;
    padding: 20px;
    width: 170px;
    font-size: 2em;
    font-family: calibri;
    cursor: pointer;
}

#cards-container{
    padding: 0 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    width: 170px;
}

#error-container{
    display:none; 
    color: red; 
    margin-top: 20px;
}